body {
    background-color: #cdcdcd;
}

h1 {
    color: #161669;
    text-align: right;
    font-weight: 1000 ;
    letter-spacing: 50px;

}

h2 {
    background-color: #5d6336;
    color: white;
    clear: both;

}

img.santamaria {
    float: left;
    width="257" height="321"
}


img.santanovella {
    float: right;
    width="326" height="320"
}

span {
    font-weight: bold;
    font-style: italic;
}

p.centrado {
    text-align: center;
}

br {
    clear: both;
}

P {
    font-family: sans-serif;
    text-align: justify;
}